<script>
    $(document).ready(function(){
        $('#forgottenPassword').click(function(){
            alertify.prompt().setting({onshow: function(){$(".ajs-input").attr("type", "text"); $(".ajs-input").val("");}});
            alertify.prompt('Enter your email and a link will be sent to you from which you could change your password. This link will be valid for 24 hours.', '',
            function(evt, value){
                $.ajax({
                    url: 'ForgottenPassword',
                    type: 'POST',
                    data: {
                        email: value
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.message == "success"){
                            alertify.success('Email has been sent to ' + value)
                        } else {
                            alertify.success('Wrong email')
                        }
                    },
                    error: function(e){
                        alertify.alert(e)
                    }
                });
            });
        });
    });
</script>

<div id="login">
    <div id="triangle"></div>
    <h1>Log in</h1>
    <form class="form" method="post" ng-controller="loginController" ng-submit="login(email, password)" novalidate>
        <input class="email" type="text" ng-model="email" placeholder="Email" />
        <span>@novarto.com</span>
        <input type="password" ng-model="password" placeholder="Password" />
        <input type="submit" value="Log in" />
    </form>

    <form class="form" id="signUpForm" ng-controller="SignUpController" novalidate ng-submit="toSignUp()">
        <input type="submit" value="Sign up">
    </form>

    <div id="forgottenPassword" >Forgot your password?</div>
</div>