<Call name="setAttribute">
    <Arg>org.mortbay.jetty.webapp.configuration</Arg>
    <Arg>
        <Array type="java.lang.String">
            <Item>org.mortbay.jetty.webapp.WebInfConfiguration</Item>
            <Item>org.mortbay.jetty.plus.webapp.EnvConfiguration</Item>
            <Item>org.mortbay.jetty.plus.webapp.Configuration</Item>
            <Item>org.mortbay.jetty.webapp.JettyWebXmlConfiguration</Item>
            <Item>org.mortbay.jetty.webapp.TagLibConfiguration</Item>
        </Array>
    </Arg>
</Call>