<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.web.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.web.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyRequestsController</servlet-name>
        <servlet-class>com.web.MyRequestsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyRequestsController</servlet-name>
        <url-pattern>/MyRequestsController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerListServlet</servlet-name>
        <servlet-class>com.web.ManagerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerListServlet</servlet-name>
        <url-pattern>/ManagerListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeListServlet</servlet-name>
        <servlet-class>com.web.EmployeeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeListServlet</servlet-name>
        <url-pattern>/EmployeeListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestManagerController</servlet-name>
        <servlet-class>com.web.RequestManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestManagerController</servlet-name>
        <url-pattern>/RequestManagerController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeTableController</servlet-name>
        <servlet-class>com.web.EmployeeTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeTableController</servlet-name>
        <url-pattern>/EmployeeTableController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VacationCalendarController</servlet-name>
        <servlet-class>com.web.VacationCalendarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VacationCalendarController</servlet-name>
        <url-pattern>/VacationCalendarController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HolidaysListServlet</servlet-name>
        <servlet-class>com.web.HolidaysListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolidaysListServlet</servlet-name>
        <url-pattern>/HolidaysListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkingSaturdaysListServlet</servlet-name>
        <servlet-class>com.web.WorkingSaturdaysListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkingSaturdaysListServlet</servlet-name>
        <url-pattern>/WorkingSaturdaysListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HolidaysTableController</servlet-name>
        <servlet-class>com.web.HolidaysTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolidaysTableController</servlet-name>
        <url-pattern>/HolidaysTableController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkingSaturdaysTableController</servlet-name>
        <servlet-class>com.web.WorkingSaturdaysTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkingSaturdaysTableController</servlet-name>
        <url-pattern>/WorkingSaturdaysTableController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrevAndNextYearsList</servlet-name>
        <servlet-class>com.web.PrevAndNextYearsList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrevAndNextYearsList</servlet-name>
        <url-pattern>/PrevAndNextYearsList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForgottenPassword</servlet-name>
        <servlet-class>com.web.ForgottenPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgottenPassword</servlet-name>
        <url-pattern>/ForgottenPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetForgottenPassword</servlet-name>
        <servlet-class>com.web.ResetForgottenPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetForgottenPassword</servlet-name>
        <url-pattern>/ResetForgottenPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestNotificationController</servlet-name>
        <servlet-class>com.web.RequestNotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestNotificationController</servlet-name>
        <url-pattern>/RequestNotificationController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionProvider</servlet-name>
        <servlet-class>com.web.SessionProvider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionProvider</servlet-name>
        <url-pattern>/SessionProvider</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateVacationDaysLeftServlet</servlet-name>
        <servlet-class>com.web.UpdateVacationDaysLeftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateVacationDaysLeftServlet</servlet-name>
        <url-pattern>/UpdateVacationDaysLeftServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--<resource-ref>-->
        <!--<description>My DataSource Reference</description>-->
        <!--<res-ref-name>jdbc/DSTest</res-ref-name>-->
        <!--<res-type>javax.sql.DataSource</res-type>-->
        <!--<res-auth>Container</res-auth>-->
    <!--</resource-ref>-->

</web-app>